{{#if msgSucess}}
<div class="alert alert-success" role="alert">
  Cadastrado com SUCESSO!
</div>
{{/if}}

{{#if sucessEdit}}
<div class="alert alert-success" role="alert">
  Dados ATUALIZADOS com SUCESSO!
</div>
{{/if}}

{{#each msgError}}
<div class="alert alert-danger" role="alert">
  {{mensagem}}
</div>
{{/each}}