<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <title>Crud Básico</title>
</head>
<body>
    {{>nav}}
    <main class="container">
        {{{body}}}
    </main>
    
    <script src="/js/script.js"></script>

</body>
</html>